@{
    ViewData["Title"] = "Jogo da Velha";
}

<h2>Jogo da Velha</h2>

@if (ViewBag.Vencedor != null)
{
    <p>Jogador @ViewBag.Vencedor venceu!</p>
    <a href="/JogoVelha">Jogar novamente</a>
}
else if (ViewBag.Empate)
{
    <p>Empate!</p>
    <a href="/JogoVelha">Reiniciar</a>
}
else
{
    <p>Próximo jogador: @ViewBag.JogadorAtual</p>
}

<form method="post">
    <table border="1" cellspacing="5" cellpadding="10">
        <tr>
            <td><input type="text" name="A00" value="@ViewBag.Tabuleiro?[0,0]" maxlength="1" pattern="[XO]" title="Digite X ou O" style="width:30px; text-align:center" /></td>
            <td><input type="text" name="A01" value="@ViewBag.Tabuleiro?[0,1]" maxlength="1" pattern="[XO]" title="Digite X ou O" style="width:30px; text-align:center" /></td>
            <td><input type="text" name="A02" value="@ViewBag.Tabuleiro?[0,2]" maxlength="1" pattern="[XO]" title="Digite X ou O" style="width:30px; text-align:center" /></td>
        </tr>
        <tr>
            <td><input type="text" name="A10" value="@ViewBag.Tabuleiro?[1,0]" maxlength="1" pattern="[XO]" title="Digite X ou O" style="width:30px; text-align:center" /></td>
            <td><input type="text" name="A11" value="@ViewBag.Tabuleiro?[1,1]" maxlength="1" pattern="[XO]" title="Digite X ou O" style="width:30px; text-align:center" /></td>
            <td><input type="text" name="A12" value="@ViewBag.Tabuleiro?[1,2]" maxlength="1" pattern="[XO]" title="Digite X ou O" style="width:30px; text-align:center" /></td>
        </tr>
        <tr>
            <td><input type="text" name="A20" value="@ViewBag.Tabuleiro?[2,0]" maxlength="1" pattern="[XO]" title="Digite X ou O" style="width:30px; text-align:center" /></td>
            <td><input type="text" name="A21" value="@ViewBag.Tabuleiro?[2,1]" maxlength="1" pattern="[XO]" title="Digite X ou O" style="width:30px; text-align:center" /></td>
            <td><input type="text" name="A22" value="@ViewBag.Tabuleiro?[2,2]" maxlength="1" pattern="[XO]" title="Digite X ou O" style="width:30px; text-align:center" /></td>
        </tr>
    </table>

    <input type="hidden" name="jogadorAtual" value="@ViewBag.JogadorAtual" />
    <input type="submit" value="Confirmar jogada" style="margin-top:10px;" />
</form>